body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #f2f2f2; font-size: 14px; font-family: Nunito;}
/* optional Container STYLES */
/*.chart { height: 600px; margin: 5px; width: 900px; }*/
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1,.attribute,.class {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #000;
    color: white;
}

.nodeExample1.undecided {
    background-color:  #ffffcc;
    color: black;
}

.nodeExample1.undecided.selected {
    background-color:  #e6e600;
}

.nodeExample1 img {
    margin-right:  10px;
}


.attribute {
    display:inline-block;
    margin-right:10px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.class {
    display:inline-block;
    margin-right:10px;
    float: right;
    margin-top: 10px;
}

div#problemMetadata
{
    width:90%; 
    margin-left:5%; 
    margin-right:5%;
}

div#basic-example 
{
    width:90%; 
    margin-left:5%; 
    margin-right:5%;
}

#examples
{
    text-align: center;
    margin-left:15%; 
    margin-right:15%;
    margin-top:25%;
    margin-bottom: 25%
    position: relative;
}

#examples button {
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #c0791b;
    border: 1px solid #000;
    font-size: 20px;
    color: white;
}

table#dataset
{
    bottom: 10px;
    left: 10px;
    position: absolute;
    text-align: center;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

table#dataset, th, td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    background-color: #c0791b;
    color: white;
}

.highlight {
    background-color:   #d9d9d9;
    color: #c0791b;
}

.class0{
    background-color: #86AC41;
}
.class1{
    background-color: #BA5536;
}
.class2{
    background-color: #2D4262;
}
.attribute0{
    background-color: #375E97;
}
.attribute1{
    background-color: #FB6542;
}
.attribute2{
    background-color: #FFBB00;
}
.attribute3{
    background-color: #4CB5F5;
}
.attribute4{
    background-color: #20948B;
}
.attribute5{
    background-color: #89DA59;
}
.attribute6{
    background-color: #85e0e0;
}